<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Agregar División</title>
</head>
<body>
<main layout:fragment="content">
    <div class="col-12">
        <h2>Información de la División</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        <form th:object="${newDivision}" th:action="@{/divisiones/create}" method="post">
            <div class="form-group">
                <label for="id">Código de la división (No se puede repetir)</label>
                <input autocomplete="off" autofocus th:field="*{id}" id="id"
                       placeholder="Código de la división" type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('id')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{id}"></div>
            </div>
            <div class="form-group">
                <label for="scientific_name">Nombre (Debe iniciar en mayúscula y finalizar en 'phyta')</label>
                <input autocomplete="off" autofocus th:field="*{scientific_name}" id="scientific_name"
                       placeholder="Nombre científico de la división" type="text"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('scientific_name')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{scientific_name}"></div>
            </div>
            <div class="form-group">
                <label for="publication_year">Fecha de publicación</label>
                <input autocomplete="off" autofocus th:field="*{publication_year}" id="publication_year"
                       type="date"
                       class="input-group date"
                       th:classappend="${#fields.hasErrors('publication_year')} ? 'is-invalid' : ''">
            </div>
            <div class="form-group">
                <label for="author">Autor</label>
                <input th:field="*{author}" autocomplete="off" autofocus id="author"
                       type="text"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="divisionSelect">Padre</label>
                <select th:field="*{parent}" aria-label="Selecciona un taxón padre" autoFocus id="divisionSelect">
                    <option th:each="reino : ${reinos}"
                            th:value="${reino.id}"
                            th:text="${reino.scientific_name}">
                    </option>
                </select>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-warning" th:href="@{/divisiones/show}">Ver todos</a>
        </form>
    </div>
</main>
</body>
</html>