<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--<link th:href="@{/css/bootstrap.css}" rel= "stylesheet" href="../static/css/bootstrap.css"> -->
    <!-- <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script> -->
    <!-- <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}" aria-current="page">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" th:href="@{/images/show}" aria-current="page" href="#">Imágenes</a>
                <a class="nav-link active" th:href="@{/especies/show}" aria-current="page" href="#">Especies</a>
                <a class="nav-link active" th:href="@{/generos/show}" aria-current="page" href="#">Géneros</a>
                <a class="nav-link active" th:href="@{/familias/show}" aria-current="page" href="#">Familias</a>
                <a class="nav-link active" th:href="@{/ordenes/show}" aria-current="page" href="#">Ordenes</a>
                <a class="nav-link active" th:href="@{/clases/show}" aria-current="page" href="#">Clases</a>
                <a class="nav-link active" th:href="@{/divisiones/show}" aria-current="page" href="#">Divisiones</a>
                <a class="nav-link active" th:href="@{/reinos/show}" aria-current="page" href="#">Reinos</a>
            </div>
        </div>
    </div>
</nav>
<section layout:fragment="content">
</section>

</body>
</html>
